.form__input {
  position: relative;
  border: 1px solid #F1F1F1;
  border-radius: 4px;
  min-height: 56px;
  padding: 26px 20px 6px 16px;
  width: 100%;

  label {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 13px;
    width: 100%;
  }

  input {
    width: 100%;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}